/*

COLOR PALETTE:
#0B090A
#161A1D
#660708
#A4161A
#BA181B
#E5383B
#B1A7A6
#D3D3D3
#F5F3F4
#FFFFFF

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  position: relative;
  font-family: "Montserrat";
  font-size: 62.5%;
}

header span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ba181b;
}

strong {
  font-weight: 300;
}

main {
  position: relative;
  margin-top: 50rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

img {
  width: 40rem;
}

.link-container {
  display: flex;
  justify-content: center;
  position: absolute;
  min-width: 700px;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: text-load 700ms ease-out 500ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.link-text {
  font-size: 2.4rem;
  color: #a4161a;
  font-weight: 500;
  letter-spacing: 4px;
  border-bottom: 0.5px solid transparent;
  padding: 0 5rem;
  transition: all 0.5s ease-in-out;
}

.link-text:hover {
  letter-spacing: 5px;
  color: #e5383b;
  border-bottom: 0.5px solid #e5383b;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: overlay;
  margin: 1rem 0;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f3f49c;
  border-radius: 8px;
}

.image-container {
  animation: image-load 700ms ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes text-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes image-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  color: #fff;
  width: 500px;
  height: 200px;
  border-radius: 15px;
}

.form-box {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

#password {
  border: none;
  height: 4rem;
  border-bottom: 1px solid #dd8c8d;
  padding: 0 4rem;
  background: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.8rem;
}

::placeholder {
  color: #f5f3f4c7;
  letter-spacing: 0.8px;
}

#password:focus {
  outline: none;
  border-bottom: 2px solid #edd0d1;
}

.btn {
  font-size: 1.6rem;
  border: 2px solid #f5f3f4;
  background: none;
  color: #f5f3f4;
  padding: 0.3rem 2rem;
  transition: all 0.3s;
  width: 30%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #a4161a;
  border: 2px solid #a4161a;
  cursor: pointer;
}

.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}
